@import url('../components/header.css');
@import url('../components/footer.css');

.header-login {
  display: none;
}

.container-header {
  justify-content: space-between;
  padding: 1rem;
}

.container-login,
.container-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 365px;

  background-color: var(--input-color);
}

.login-title {
  margin-bottom: 1rem;

  font-weight: 700;
}

.login-input {
  padding: .5rem 0 .5rem .75rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;

  font-weight: 400;
}

.login-button {
  width: 109px;
  height: 40px;
  padding: 12px 1rem;
  border: none;

  font-weight: 600;
  font-size: .85rem;

  background-color: var(--primary-blue);
  color: var(--primary-white);
}

@media screen and (min-width: 768px) {
  .container-header {
    padding-left: 2rem;
    justify-content: flex-start;
    gap: 2rem;
  }

  .login-input {
    width: 275px;
    height: 41px;
  }
}

@media screen and (min-width: 1440px) {
  .login-input {
    width: 423px;
    height: 63px;
  }

  .login-button {
    width: 423px;
    height: 63px;
  }
}