@import url('../components/header.css');
@import url('../components/footer.css');

.container-header {
  justify-content: space-between;
  padding: 0 1rem;
}

.header-login {
  display: none;
}

.container-allProducts {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  width: 100%;
  padding: 2rem;


  background-color: var(--secondary-white);
}

.allProducts-title {
  font-weight: 700;
  font-size: 1.375rem;
}

.allProducts-button {
  width: 152px;
  height: 40px;
  padding: .75rem 1rem;
  border: none;

  font-weight: 600;
  font-size: .75rem;
  text-align: center;
  text-decoration: none;

  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.container-allProductsShow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-box-link {
  display: none;
}

.product-id {
  display: block;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  width: 140px;
  height: 220px;
  position: relative;
}

.product-box-img {
  width: 140px;
  height: 140px;
}

.product-delete,
.product-edit {
  display: flex;
  position: absolute;

  cursor: pointer;
}

.product-delete {
  width: 18px;
  height: 18px;
  top: 4%;
  right: 30%;

  /* cursor: pointer; */
}

.product-edit {
  width: 28px;
  height: 25px;
  top: 2.2%;
  right: 3%;

  /* cursor: pointer; */
}

.product-box-title {
  font-size: .875rem;
}

.product-box-price {
  font-weight: 700;
}

.container-nav {
  margin-bottom: 0;
}