* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  /* width: 360px; */

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1rem;

  color: var(--primary-gray);
}

.hide {
  display: none;
}